@import 'position-module';
@import 'datetime-module';

body {
  color: white;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.container {
  display: flex;
  justify-content: space-between;
}

.module {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}



