@import 'position-module';
@import 'datetime-module';

body {
  color: white;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-between;
}

.module {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}



