.position {
  justify-content: space-around;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} 


.location {
  font-size: 2em;
  margin: 0px;
}

.temperature {
  font-size: 4em;
  margin-right: 1em;
}

.wi {
  font-size: 10em;
}

.icon {
  max-width: 60%;
}