<!DOCTYPE html>
<html>
  <head>
    <title>SmartMirror</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="/assets/mirror_icon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
